{% assign restaurant = site.data.restaurant %}
{% assign brand = restaurant.brand %}
{% assign schema_image = page.image.path | default: site.social_preview_image | default: site.avatar %}
{% assign schema_url = page.url | absolute_url %}
{% assign schema_logo = site.avatar | absolute_url %}
{% assign schema_image_url = schema_image | absolute_url %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Restaurant",
  "@id": "{{ site.url }}/#restaurant",
  "name": {{ brand.name | jsonify }},
  "alternateName": "Kuliner Guci Tegal",
  "description": {{ brand.description | jsonify }},
  "url": {{ site.url | jsonify }},
  "mainEntityOfPage": {{ schema_url | jsonify }},
  "logo": {{ schema_logo | jsonify }},
  "image": {{ schema_image_url | jsonify }},
  "telephone": {{ brand.phone_label | jsonify }},
  "priceRange": "$$",
  "servesCuisine": [
    "Masakan Indonesia",
    "Menu keluarga",
    "Prasmanan",
    "Nasi box"
  ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": {{ brand.address | jsonify }},
    "addressLocality": "Bojong",
    "addressRegion": "Jawa Tengah",
    "postalCode": "52465",
    "addressCountry": "ID"
  },
  {% if brand.geo.latitude and brand.geo.longitude %}
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{ brand.geo.latitude | jsonify }},
    "longitude": {{ brand.geo.longitude | jsonify }}
  },
  {% endif %}
  "areaServed": [
    "Guci",
    "Tuwel",
    "Bojong",
    "Kabupaten Tegal"
  ],
  "openingHours": "Mo-Su 09:00-20:00",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "09:00",
      "closes": "20:00"
    }
  ],
  "acceptsReservations": {{ brand.accepts_reservations | jsonify }},
  "hasMap": {{ brand.maps_url | jsonify }},
  "menu": "{{ site.url }}/menu-utama/",
  "amenityFeature": [
    {% for facility in restaurant.facilities %}
      {
        "@type": "LocationFeatureSpecification",
        "name": {{ facility.name | jsonify }},
        "value": true
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],
  "sameAs": [
    "https://www.instagram.com/kulinergucitegal",
    "https://www.tiktok.com/@kulinergucitegal",
    "https://www.facebook.com/kulinergucitegal"
  ],
  "potentialAction": {
    "@type": "ReserveAction",
    "target": "https://wa.me/{{ brand.whatsapp_number }}"
  }
}
</script>
