<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Navigasi utama RM. APAYAA",
  "itemListElement": [
    {
      "@type": "SiteNavigationElement",
      "position": 1,
      "name": "Menu Utama",
      "url": "{{ '/menu-utama/' | absolute_url }}"
    },
    {
      "@type": "SiteNavigationElement",
      "position": 2,
      "name": "Menu Prasmanan",
      "url": "{{ '/menu-prasmanan/' | absolute_url }}"
    },
    {
      "@type": "SiteNavigationElement",
      "position": 3,
      "name": "Menu Box",
      "url": "{{ '/menu-box/' | absolute_url }}"
    },
    {
      "@type": "SiteNavigationElement",
      "position": 4,
      "name": "Info Wisata Guci",
      "url": "{{ '/info-wisata-guci-tegal/' | absolute_url }}"
    }
  ]
}
</script>
